
/* ESTILO GERAL INICIO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #FF0095;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: .2s;


}

h2.titulo{
    color: #ffff;
    font-size: 38px;
    text-align: center;
    

}

h2.titulo span{
    color: #BA0DFF;
}
/* ESTILO GERAL FINAL*/

/* ESTILO CABEÇALHO INICIO*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo video{
    width: 200px;
    height: 200px;
}

header a{
    color: #787878;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #FF0095;
    transform: scale(1.09);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;

}


.btn-contato button:hover{
    height: 55px;
    box-shadow: 0px 0px 8px #FF0095;
    transform: scale(1.09);
}
/* ESTILO CABECALHO FIM*/

/* ESTILO DO TOPO DO SITE*/

section .topo-do-site{
    padding: 40px 4%;

}

section .topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #FF0095;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site h1 span{
    color: #BA0DFF;
}

.topo-do-site p{
    color: #ffff;
    margin: 40px 0;
}

.topo-do-site .btn-contato button{
    color: #e0e0e0;
    background-color: #BA0DFF;
}

.topo-do-site .video-topo-site video{
    width: 400px;
    height: 400px;
    
}
/*FINAL DO TOPO DO SITE*/

/*ESTILO ESPECIALIDADES INICIO*/
section.especialidades{
    padding: 40px 4%;

}

section.especialidades .flex{
    gap: 30px;
}

.especialidades .especialidades-box{
    color: #ffff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ba0dff66;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #FF0095;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
/*ESTILO ESPECIALIDADES FINAL*/

/*ESTILO SOBRE INICIO*/
section.sobre{
    padding: 80px 4%;

}

.img-sobre img{
    width: 400px;
    height: 500px;
   text-align: left;
   margin-right: 150px;
   border-radius: 30px;
}

section.sobre .flex{
    align-items: center;
    gap: 10px;
}

.sobre .txt-sobre{
    color: #ffff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    font-family: "Anton", sans-serif;
}

.sobre .txt-sobre h2 span{
    color: #BA0DFF;
    font-family: "Anton", sans-serif;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

 .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #BA0DFF;
    font-size: 40px;
    color: #ffffff;
    margin: 0 10px;

}

.sobre .txt-sobre .btn-social button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ba0dff66;
    
}

/*ESTILO SOBRE FINAL */

/*ESTILO PORTFOLIO INICIO*/

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #c635ff28;

}


.portfolio .interface h2 span{
    color: #FF0095;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #FF0095;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
   
}

section.portfolio .flex{
   
    gap: 30px;
    margin-top: 60px;
}

.overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #f9f9f9;
    text-shadow: #BA0DFF;
    font-weight: 600;
    background-color: #ff009595;
    opacity: 0;
    transition: .5s;

}

.overlay a{
    text-decoration: none;
    color: #ffff;
}

.overlay:hover{
    opacity: 1;
}

/*ESTILO DO FORMULARIO DE CONTATO INICIO*/

.section.formulario{
    padding: 80px 4%;
    margin-top: 80px;


}


form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
}

form input, form textarea{
    width: 100%;
    background-color: #1d1d1d;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
}

form input::placeholder{
    color: #f7f7f765;
}

textarea::placeholder{
    color: #f7f7f765;
}

form .btn-enviar{
    margin-top: 12px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #FF0095;
    color: #1d1d1d;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;

}

form .btn-enviar input:hover{
   
    box-shadow: 0px 0px 8px #FF0095;
    transform: scale(1.09);

}

/*estilo final

/* comeco footer*/

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #c635ff28;
    margin-top: 50px;
}


.logo-footer video{
    width: 200px;
    height: 200px;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid  #FF0095;
}

footer .line-footer p i{
    color: #FF0095;
    font-size: 22px;
}

footer .line-footer p a{
    color: white;
}

@media screen and (max-width: 1020px){

    /*classes gerais*/
    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /*CABECALHO*/
    .menu-desktop{
        display: none;
    }

    /*topo do site*/
    .topo-do-site .img-topo-site img{
        width: 80%;
        
    }

    section.topo-do-site .flex{
    
        gap: 20px;
    }


    section.topo-do-site{
        padding: 20px 8%;
    }


    .topo-do-site h1{
        font-size: 30px;
    }

    .img-sobre img{
       
       margin-right: 10px;
       
    }

    .logo video{
        width: 150px;
        height: 150px;
    }

    /*especialidade*/

    section.especialidades{
        padding: 40px 8%;
    
    }

    /*sobre*/

   .btn-social{
    text-align: center;
   }

   /*portfolio*/

   .img-port{
    width: 100%;
   }

   /*rodapé*/

   footer .flex{
    flex-direction: column;
   }

   footer .line-footer{
    text-align: center;
   }



    
}








